@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<p>
    Lopoca Gaming Ltd., was founded in Malta on the 15th June 2010 as a subsidiary from Lopoca Ltd., a company registered in Cyprus. Whilst Lopoca Gaming Limited is the operative company, Lopoca Limited deals with the administraive and all member enquiries for Lopoca Gaming Limited.<br />
    <br />
    <strong>Mission Statement</strong><br />
    To provide a unique entertainment experience incorporating products within a multi-level marketing framework across multiple channels to a global community. The company name is derived from the words &bdquo;Lotto, Poker and Casino&ldquo; and is based on the idea that all Members should aspire to improve the quality of their lives either through the entertainment provided by the use of the Lopocaproducts and/or the financial benefits that can derive through the multi-level marketing component of Membership.<br />
    <br />
    <strong>Our Vision</strong><br />
    The vision of Lopoca is one of a business providing three compelling reasons for consumers to use its products and services. Firstly, the competitive element of the gaming products, secondly there are income opportunities available to the consumer as a result of the multi-level marketing structure and, last but not least, the opportunity to become a shareholder in the business. The vision is one of a&ldquo;one stop shop&rdquo; for gamers and multi-level marketers alike who will drive greater customer acquisition and game play through the unique incentive scheme known as the Relationship Marketing Reward Program.<br />
    &nbsp;
</p>
