@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Lopoca Gaming Ltd.<br />
    Office 1/2238 Level G, Quantum House<br>
    75 Abate Rigord Street<br>
    1120  Ta’Xbiex, Malta<br />
    <br />
    <strong>Supporthotline: </strong><br />
    <abbr title="Phone">DE:</abbr>
    09001 41 00 41 (&euro;1,35 - Landline, &euro;2,00 - Mobile)<br />
    <abbr title="Phone">AT:</abbr>
    0900 41 00 41 (&euro;1,35 from all networks)<br />
    <abbr title="Phone">CH:</abbr>
    0900 41 00 41 (CHF 2,00 from all networks)<br />
</address>

<address>
    <strong>E-mail:</strong>  <a href="mailto:support@lopoca.com">support@lopoca.com</a><br />

</address>