@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LOPOCA</h1>
    <p class="lead">In addition to earning Cash Back, our amazing Partner Program allows you to EARN a portion of the Casino profits on the Team you develop as they play in our State of the Art Online Casino.

Why play elsewhere when you can have fun with your friends, AND earn on the turnover with Lopoca!

We have all the games, Roulette, Blackjack, Slots, Poker, Live Games, Fun Games, Keno, Hi/Low, Monopoly and much more.</p>
    <p><a href="https://www.lopoca.com/signup/nohandle.asp?sectionID=1&signupType=0&productid=&itemcodeid=&guid=AB13D3D0-3629-4A6A-9AD2-BD08118FCB3D" class="btn btn-primary btn-lg">Join now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MAKE MONEY!</h2>
        <p>
            Cash Back for playing AND/OR refer others and grow a team to profit from a piece of all their gaming turnover!
        </p>
        <p><a class="btn btn-default" href="http://www.lopoca.com/common/clientCustom.asp?UID=51542&SectionID=1&guid=AB13D3D0-3629-4A6A-9AD2-BD08118FCB3D">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>POKER, CASINO, SPORTSBETTING</h2>
        <p><strong>Win Money!</strong> State of the art Casino, Poker, and Sportsbetting allows you and your group to have fun while profiting from turnover and even earn Cash BACK on your own play!</p>
        <p><a class="btn btn-default" href="http://www.lopoca.com/common/clientCustom.asp?UID=51492&SectionID=1&guid=AB13D3D0-3629-4A6A-9AD2-BD08118FCB3D">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NUGGETGAME</h2>
        <p><strong> Grow your Money!</strong> Trade our Virtual Nuggets in our online trading platform, time it right, you could win BIG!</p>
        <p><a class="btn btn-default" href="http://www.lopoca.com/common/clientCustom.asp?UID=51522&SectionID=1&guid=AB13D3D0-3629-4A6A-9AD2-BD08118FCB3D">Learn more &raquo;</a></p>
    </div>
</div>